

.Submarine{
     background-image: url(/web/img/submarine.jpg);
     background-size: cover;
     background-position-x: center;
}

.Destroyer{
     background-image: url(/web/img/destroyer.jpg);
     background-size: cover;
     background-position-x: center;

}

.Carrier{
     background-image: url(/web/img/carrier.jpg);
     background-size: cover;
     background-position-x: center;
}

.Patrol_Boat{
     background-image: url(/web/img/patrolt.jpg);
     background-size: cover;
     background-position-x: center;
}

.Battleship{
     background-image: url(/web/img/battleship.jpg);
     background-size: cover;
     background-position-x: center;
}
.hit{
     background-image: url(/web/img/hit.jpg);
     background-size: cover;
     background-position-x: center;
     background-position-y: center;
     text-align: center;
}

.salvo{
    background-color: yellow;
}
.salvos{
    background-color: blue;
    text-align: center;
}
.sink{
     background-image: url(/web/img/sunk.jpg);
     background-size: 5rem;
     background-position-y: -1rem;
     color: black;
}

#shipsTable{
    background-image: url(/web/img/yamato.jpg);
    text-shadow: 1px -1px 5px whitesmoke;
    background-position-y: center;
    font-size: x-large;
    font-family: fantasy;
}
#shipsTable td{
    width: 1.rem;
    text-align: center;

}

.w-50{
        margin-left: 4rem;
}

#sunkShip{
    margin-left: -1.4rem;
    width: 20.3rem;
    text-align: center;
    background-image: url(/web/img/a4326511c7d15b66d302cb8639c9c1c7.jpg);
    font-family: fantasy;
    background-position-y: -2rem;
    text-shadow: 1px -1px 5px whitesmoke;
}

table{

    border: double;
    background-image: url(/web/img/2.jpg);
    background-size: cover;
    margin-left: -2rem;
}

label{
    font-family: fantasy;
    text-shadow: 1px -1px 5px whitesmoke;
}

.mt-2{
     margin-left: 3rem;
}

.btn-danger{
    color: #fff;
    background-color: #af2020;
    border-color: #3f0c11;
    margin-left: 7rem;
}

h1{
     font-size: 2.7rem;
     font-family: fantasy;
     margin-left: 5rem;
}

h2{
    margin-left: 1rem;
    color: white;
    font-family: fantasy;
    text-shadow: -4px 3px black;
}

tr{
    border-color: inherit;
    border: double;
}

td{
    border-color: inherit;
    border: double;
    width:2.8rem;;
}

.orientation{
    margin-left: 6rem;
}
 body{
     background-image: url(/web/img/wall2.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     min-height: 100vh;
 }

 .vs{
     background-image: url(/web/img/title.png);
     background-size: 21rem;
     background-position-y: center;
     background-repeat: no-repeat;
     background-position-x: center;
     text-align: center;
     font-family: fantasy;
     font-size: x-large;
     font-family: fantasy;
     font-size: large;
     text-shadow: 1px -1px 5px whitesmoke;
     margin-left: 1rem;
 }

button{
    font-family: fantasy;
}

